geometry : LHCb
paramsDecaying : M, P, PT
paramsStable : P, PT
paramsTwoBody : M2
paramsThreeBody : M2

param : D0_M M 1 2
cut : D0_M range 1.79 1.94

@0
	name : B0_0
@1
	name : Km_0
	smear : LHCbGeneric
@2
	name : pip_0
	smear : LHCbGeneric
@3
	name : pim_0
	smear : LHCbGeneric
  invisible : true
@4
	name : pip_1
	smear : LHCbGeneric
  altMass : mu+
